<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.androidseedproject.compose.feature">

    <application>
        <activity
            android:name=".ComposeHelloWorldActivity"
            android:exported="false" />

        <activity
            android:name=".feature.StickyListActivity"
            android:exported="false" />
    </application>

</manifest>
